<div class="input-group mb-3">
    <div class="input-group-prepend">
        <div for="PersianDateTimePicker" class="input-group-text PersianDateTimePicker" id="inputGroup-sizing-default">
            <img title=""
                 for="PersianDateTimePicker"
                 src="_content/Blazor.PersianDateTimePicker/DatePicker.Calendar-icon.png"
                 data-toggle="tooltip"
                 data-placement="top"
                 style="width:20px"
                 data-original-title="Ctrl + Delete = پاک کردن مقدار
Ctrl + Home = ابتدای ساعت
Ctrl + End = انتهای ساعت
Ctrl + Space = زمان جاري">
        </div>
    </div>
    <input type="text" id="PersianDateTimePicker" class="form-control PersianDateTimePicker TextStyle" autocomplete="off" maxlength="19">
</div>