<div  class="input-group mb-3">
    <div class="input-group-prepend" onclick="document.getElementById('@id').focus()">
        <div class="input-group-text PersianDateTimePicker" >
            <img title=""
                 for="PersianDateTimePicker"
                 src="_content/Blazor.PersianDateTimePicker/DatePicker.Calendar-icon.png"
                 data-toggle="tooltip"
                 data-placement="top"
                 style="width:20px"
                 data-original-title="Ctrl + Delete = پاک کردن مقدار
Ctrl + Home = ابتدای ساعت
Ctrl + End = انتهای ساعت
Ctrl + Space = زمان جاري">
        </div>
    </div>
    <input id="@id" type="text"  
        class="form-control PersianDateTimePicker TextStyle" 
        autocomplete="off" maxlength="19"
        style="direction:ltr"
    >
</div>