<div class="input-group mb-3">
    <div id="PersianDatePickerContainer" 
         class="input-group-prepend"
         onclick="document.getElementById('@id').focus();"
         title="
Ctrl+Delete=پاک کردن
Ctrl+Home=ابتدای روز
Ctrl+End=انتهای روز
Ctrl+Space=زمان جاري
        "
         >
        <div 
            for="PersianDatePicker"  
            class="input-group-text PersainDatePicker" 
            >
            <img 
                 src="_content/Blazor.PersianDateTimePicker/DatePicker.Calendar-icon.png"
                 style="width:20px"/>
        </div>
    </div>
    <input type="text" @bind="Text" 
           id="@id" 
           class="form-control PersainDatePicker TextStyle" 
           autocomplete="off" 
           maxlength="19"
           style="direction: ltr;"
           title="
Ctrl+Delete=پاک کردن
Ctrl+Home=ابتدای روز
Ctrl+End=انتهای روز
Ctrl+Space=زمان جاري
        " />

</div>
