@page "/"

<h2>With event: DateTimeChanged</h2>
<Blazor.PersianDateTimePicker.DateTimePicker DateTimeChanged="ShowDate" InitialDate=DateTime.Now/>
<input @bind="_Date" />
<br />
<h2>With binding: bind-Value</h2>
<Blazor.PersianDateTimePicker.DateTimePicker @bind-Value="_DateBind"  />
<input @bind="_DateBind" />
@code
{

    private DateTime? _DateBind = DateTime.Now.AddDays(-10);

    private string _Date;
    private void ShowDate(DateTime? dt)
    {
        _Date = dt.ToString();

    }
}
